html
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='Some description')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
	body
		div.container
			h3 Todo 
			hr
			p
			if usestatus == "add" || usestatus == "all"
				a.btn.btn-primary(href='/add') Add New
			
			table.table.table-bordered
				tr
					th.text-center(width='5%') #
					th.text-left(width='35%') Title
					th.text-left(width='50%') Content
					if usestatus == "edit" || usestatus == "all"
						th.text-left(width='5%') Edit
					if usestatus == "delete" || usestatus == "all"
						th.text-left(width='5%') Delete
				for ps in posts
					tr
						td=ps.id
						td=ps.title
						td=ps.content
						if usestatus == "edit" || usestatus == "all"
							td
								a.btn.btn-warning(href='edit/' + ps.id) Edit
						if usestatus == "delete" || usestatus == "all"
							td
								a.btn.btn-danger(href='delete/' + ps.id) Delete

