html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='description' content='Some description')
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    body
        div.container.w-50
            form(action='' method='POST')
                    .form
                        h3.text-center.mb-5 LOGIN FORM
                        div.form-group.row
                            label.col-sm-2.col-form-label(for='email') Email
                            div.col-sm-10.mb-3
                                input#post_title.form-control(type='text' name='email' placeholder='Email' required='')
                            label.col-sm-2.col-form-label(for='password') Password
                            div.col-sm-10
                                input#post_title.form-control(type='password' name='password' placeholder='Password' required='')
                        div.w-100.justify-content-center.text-center
                            label.text-danger=status
                            <br>
                            input.btn.btn-success(type='submit' value='SUBMIT')








